boto3==1.35.90
botocore==1.35.90
celery==5.4.0
fastapi==0.115.6
google_api_python_client==2.156.0
numpy==2.2.1
ollama==0.4.5
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pdf2image==1.17.0
Pillow==11.1.0
protobuf==5.29.3
pydantic==2.10.5
pytesseract==0.3.13
python-dotenv==1.0.1
python_magic==0.4.27
PyYAML==6.0.2
redis==5.2.1
Requests==2.32.3
